<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
    <a class="navbar-brand" href="#">MyCompany Inc.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Customers</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" style="padding-top: 50px; padding-bottom: 100px">
    <div class="container-fluid text-center">
      <h1>About Us</h1>
      <hr class="bg-primary">
      <p> MyCompany Inc. is an IT consulting company in downtown Toronto.</p>
    </div>

    <div class="container-fluid text-center" style="padding-top: 25px">
      <h1>Weather</h1>
      <hr class="bg-primary">
      <p>Location: {{location}}</p>
      <p>Weather: {{weather}} <img src={{icon_url}}> </p>
      <p>Current Temperature: {{temperature_string}}</p>
      <p>Feels Like: {{feelslike}}c</p>
      <hr style="margin:0px 500px 10px 500px">
      <p>For the Full Forecast: <a href="{{forecast_url}}">Click Here</a></p>
      <p>{{observation_time}}</p>
    </div>

    <div class="container-fluid text-center"  style="padding-top: 25px">
      <h1>Our Services</h1>
      <hr class="bg-primary">
      <ul>
        <li>Advertising</li>
        <li>Consulting</li>
        <li>Marketing Campaigns</li>
        <li>Graphic's Design</li>
        <li>And Much More...</li>
      </ul>
    </div>

    <div class="container-fluid text-center"  style="padding-top: 25px">
      <h1 class=text-center>Our Customers</h1>
      <hr class="bg-primary">
      <ul>
        <li>Mircosoft</li>
        <li>Instagram</li>
        <li>FaceBook</li>
        <li>RBC</li>
        <li>And Many More...</li>
      </ul>
    </div>

  </div>
  <footer class="footer bg-primary" id="footer">
      <span> © 2018. All Rights Reversed | </span> <span class="font-weight-bold"> <app-date-pipe></app-date-pipe> </span>
  </footer>

</body>
</html>
